{
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "tabWidth": 4,
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.md", "*.yml", "*.yaml"],
      "options": { "tabWidth": 2 }
    }
  ]
}
